@media screen and (min-width:1440px) {
   
    
}

@media screen  and (max-width:1440px){
   
    /* navbar */
    .navbar-nav .nav-item{
        margin-left: 20px;
    }
    .top1,.top2,.top3{
        font-size: 12px;
    }
    /* about part */
    .about-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        margin-bottom: 80px;
    }
    .squre-photo{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
    .he {
        font-size: 18px;
        font-family: "mont";
        line-height: 30px;
        letter-spacing:1px;
        font-weight: 600;
        text-align: center;
    }
    #cimg{
        margin-bottom: 60px;
    }
    .p12{
        text-align: center;
    }
    .btn6 button {
        width: 172px;
        height: 52px;
        border: 1px solid #BF2D0D;
        color: #BF2D0D;
        background: transparent;
        margin-bottom: 45px;
        text-align: center;
    
    }
    /* banner */
    .banner-img img{
        height: 550px;
    }
    .banner-text h1{
        font-size: 22px;
        font-family: "poppins";
        font-weight: 700;
        color: #FF5B37;
        text-transform:uppercase;
    }
    .subheading{
        width: 50%;
    }
    .subheading h3{
        font-family: "mont";
        font-weight: 800;
        font-size: 42px;
        text-transform: capitalize;
        color: white;
    }
    .para{
       width:45%;
    }
    .para .p1{
        font-family: "poppins";
        font-size: 14px;
        font-weight: 700;
        color: white;
    
    }
    /* form part */
    .registration{
        position: absolute;
        top:7%;
        right: 10%;;
        }
        .registration{
            width: 430px;
            height: 450px;
            background-color: whitesmoke;
            padding: 40px 42px;
            border-radius: 10px;
        }
        .heading3::after{
            content: "";
            position: absolute;
            bottom: -18px;
            left:35%;
            height: 3px;
            width: 100px;
            background-color: #BF2D0D;
        }
        .input-field1 input{
            width:350px;
            height: 35px;
            margin-bottom: 20px;
            background-color: #EBEAEA;
            border: none;
            text-indent:10px;
            border-radius: 5px;
        }
        input::placeholder{
            font-size: 16px;
            font-family: "poppins";
            text-transform: capitalize;
        }
        .input-field3{
            display: flex;
            gap:25px;
        }
        .input-field3 input{
            width:160px;
            height: 35px;
            margin-bottom: 25px;
            border: none;
            background-color: #EBEAEA;
            text-indent:10px;
            border-radius: 5px;
           
        }
        .input-button #ser{
            width:350px;
            height:35px;
            /* margin-bottom: 20px; */
            background-color:#BF2D0D;
            border: none;
            text-indent:10px;
            text-transform: uppercase;
            color: white;
            border-radius: 5px;
        
        
        
        }
        /* how we work */
        .work{
            background-color: #FDF7F6;
              /* position: relative;  
            height: 650px; */
        }
        
        .work-content{
            position: relative;
            display: flex; 
           
           
        }
        .work-content1{
            display: flex;
        
        }
        .content2{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            /* align-items: center; */
        }
        .con7{
            width:250px;
            height:66px ;
            background-color: #BF2D0D;
            text-align: center;
           
            transform: skew(-16deg) ;
             transform-origin: bottom right;  
            
        }
        .work-heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            margin-bottom: 50px;
        }
        .p16{
            transform: skew(15deg);
            color: white;
            text-align: center;
           
        }
        .p16,.p15{
            font-size: 42px;
            font-family: "mont";
        }
        small{
            color: #4f4f4f;
        }
        .pic5 img{
            width: 192px;
            height: 192px;
            border-radius: 50%;
        }
        .img9,.img10,.img11,.img12{
            display: flex;
            flex-direction: column;
            align-items: center; 
            margin-bottom:100px;
        }
        .para3{
            width:100%;
            text-align: center; 
        }
        .para4{
           width: 100%;
            text-align: center;
        }
        .para5{
           width: 100%;
         
        }
        .para6{
            width:100%;
            text-align: center;
        }
        .para3{
          
            text-align: center;
        }
        .img10{
             transform: translateY(12%); 
           
           
        }
        .img11{
           
           
        }
        .img12{
            transform: translateY(12%); 
           
        }
        .img9{
           
           
        
        }
         /* .arrow{
            position: relative;
        }  */
        .arrow1 img,.arrow2 img,.arrow3 img{
           width: 160px;
           
        } 
        .arrow1{
            position: absolute;
            left:20%;
            top:-20px
        }
        .arrow2{
            position: absolute;
            right:15%;
            top:-20px
        }
        .arrow3{
            position:absolute;
            transform: translateY(10%);
            top:70%; 
            left:50%;
            /* margin-bottom: 150px; */
            
        }
        .text4{
            width:100%;
        }
        .p17{
          font-size: 20px;
          font-family:"mont";
          font-weight: 800;
          text-align: center;
        }
        .text5{
           width:100%;
           text-align: center;
        }
        .p19{
          font-size: 20px;
          font-family:"mont";
          font-weight: 800;
          
        }
        .para5{
            text-align: center;
        }
        /* phone part */
        .maindiv{
            background-color: #EBEAEA;
            padding-top: 65px;
           
        }
        
        .phone1 img{
            height: 500px;
            object-fit: contain;
            transform: translateX(-28%);
        }
        .phone2 img{
            height: 500px;
            object-fit: contain;
            position: absolute;
            top:0%;
            transform: translateX(13%);
        }
        .phone-photo{
            position: relative;
        }
        .shadow{
            margin-bottom:65px;
        }
        .shadow img{
           position: absolute;
           bottom:-2%;
        } 
        .flagimg img{
            width: 34px;
            height: 34px;
        }
        .heading4 .para7{
            font-size: 35px;
            font-family: "mont";
            text-transform: capitalize;
            font-weight: 700;
            margin-bottom: 40px;
            letter-spacing: 0px;
            
        }
        .auto{
            color: #BF2D0D;
        }
        .text-heading{
            display: flex;
            flex-direction: column;
           
           
        }
        .subheading4{
            width: 77%;
            margin-bottom: 40px;
        }
        .para8{
            font-size: 18px;
            font-family: "poppins";
            font-weight: 600;
        }
        .ser1{
            color: #BF2D0D;
        }
        .dimg{
            width: 200px;
            height: 68px;
        }
        .download-app{
            display: flex;
            justify-content: space-between;
            width:80%;
            margin-bottom: 40px;
        }
        .input-field5{
            position: relative;
        }
        .box1 input{
            width: 80%;
            height: 50px;
            text-indent: 80px;
        }
        .flagimg{
            position: absolute; 
            top:15%;
            transform: translateX(20%);
        }
        .box1 input::placeholder{
            position: relative;
        
        }
        .box1 input::placeholder::before{
            content: "";
            position: absolute;
            top:0;
            bottom: 0;
         background-color: #C5A481;
            width: 2px;
        }
        .applink{
            width: 110px;
            height: 36px;
            border: 2px solid #BF2D0D;
            position: absolute;
            left:59%;
            top:15%;
            color: #BF2D0D;
            padding:2px;
        }
        /* footer section */
        .icon-text{
            width: 200px; 
            height: 120px;
            background-color: #000000;  
            margin-bottom: 50px;
         }
         .para15{
            font-size: 12px;
         }
         .icon-text{
            display: flex;
            flex-direction: column;
            padding: 10px 15px;
            gap:20px;
          
            
            
        }
        .icon1 {
           

        }
        .icon1 i{
            font-size:20px;
            color: #BF2D0D;
        }
        /* repair */
        .para40{
            padding-top: 25px;
            margin-bottom: 25px;
        }
        /* / SHOP PART / */

        .shop-part{
            padding-top: 20px;
            padding-bottom: 50px;
        }

        .shop-part h5{
            font-size: 15px;
            margin-bottom: 10px;
        }

        /* / REVIEW PART / */
       
        .review-img img{
            width: 700px;
            height: 400px;
        } 

        .review-text{
            padding: 20px 30px;
            width: 450px; 
            height: 330px;
        }

        .review-text .p31{
            width: 400px;
            font-size: 16px;
        }
        
        
        
        
        
        
        
        
    
    
    
    
   
}
@media screen  and (max-width:1399px){
   
    
    
}
@media screen and (max-width:1199px) {
    
    .topbar{
        font-size: 12px;
    }
    
    .navbar-nav .nav-item{
        margin-left: 18px;
    }
    .cart{
        margin-right: 20px;
    }
    .nav-item .nav-link{
        font-size: 16px;
    }
    .navbar-brand img{
        width: 120px;
    }
   
    .btn{
        width: 100px;
        height: 37px;
        border: 1px solid #BF2D0D !important;
        
        
    }
    .kol::after{
        content:"";
        position: absolute;
        bottom:-2px;
        left:0px;
        width: 80px;
        height: 1px;
        background-color: white;
        color: whitesmoke;
    }
    /* about part */
    .about-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        margin-bottom:40px;
    }
    .squre-photo{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom:60px;
    }
    .he {
        font-size: 18px;
        font-family: "mont";
        line-height: 20px;
        letter-spacing:1px;
        font-weight: 600;
        text-align: center;
    }
    #cimg{
        margin-bottom: 40px;
    }
    .p12{
        text-align: center;
    }
    .btn6 button {
        width: 172px;
        height: 52px;
        border: 1px solid #BF2D0D;
        color: #BF2D0D;
        background: transparent;
        margin-bottom:30px;
        text-align: center;
    
    }
    .p10 {
        color: #8A8A8A;
        font-weight: 400;
        font-size: 16px;
        font-family: "poppins";
        line-height:25px;
        margin-bottom: 30px;
         text-align: center; 
        width:98%;
        
    
    }
    .p11 {
        color: #8A8A8A;
        font-weight: 400;
        font-size: 16px;
        font-family: "poppins";
        line-height: 25px;
        margin-bottom:30px;
        width: 94%;
        text-align: center;
    
    }
    /* banner part */
    .banner-img img{
        height: 490px;
    }
    .banner-text h1{
        font-size: 22px;
        font-family: "poppins";
        font-weight: 700;
        color: #FF5B37;
        text-transform:uppercase;
    }
    .subheading{
        width:40%;
    }
    .subheading h3{
        font-family: "mont";
        font-weight: 800;
        font-size: 25px;
        text-transform: capitalize;
        color: white;
    }
    .para{
       width:40%;
    }
    .para .p1{
        font-family: "poppins";
        font-size: 14px;
        font-weight: 700;
        color: white;
    
    }
    /* form part */
    .registration{
        position: absolute;
        top:7%;
        right: 8%;;
        }
        .registration{
            width: 400px;
            height: 420px;
            background-color: whitesmoke;
            padding: 25px 30px;
            border-radius: 10px;
        }
        .heading3::after{
            content: "";
            position: absolute;
            bottom: -18px;
            left:35%;
            height: 3px;
            width: 100px;
            background-color: #BF2D0D;
        }
        .input-field1 input{
            width:350px;
            height: 35px;
            margin-bottom: 20px;
            background-color: #EBEAEA;
            border: none;
            text-indent:10px;
            border-radius: 5px;
        }
        input::placeholder{
            font-size: 16px;
            font-family: "poppins";
            text-transform: capitalize;
        }
        .input-field3{
            display: flex;
            gap:25px;
        }
        .input-field3 input{
            width:160px;
            height: 35px;
            margin-bottom: 20px;
            border: none;
            background-color: #EBEAEA;
            text-indent:10px;
            border-radius: 5px;
           
        }
        .input-button #ser{
            width:350px;
            height:35px;
            /* margin-bottom: 20px; */
            background-color:#BF2D0D;
            border: none;
            text-indent:10px;
            text-transform: uppercase;
            color: white;
            border-radius: 5px;
        
        
        
        }
        /* how we work */
        .work{
            background-color: #FDF7F6;
              /* position: relative;  
            height: 650px; */
        }
        
        .work-content{
            position: relative;
            display: flex; 
           
           
        }
        .work-content1{
            display: flex;
        
        }
        .content2{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            /* align-items: center; */
        }
        .con7{
            width:250px;
            height:66px ;
            background-color: #BF2D0D;
            text-align: center;
           
            transform: skew(-16deg) ;
             transform-origin: bottom right;  
            
        }
        .work-heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            margin-bottom: 50px;
        }
        .p16{
            transform: skew(15deg);
            color: white;
            text-align: center;
           
        }
        .p16,.p15{
            font-size: 42px;
            font-family: "mont";
        }
        small{
            color: #4f4f4f;
            text-align: center;
            font-size: 12px;
            width:80%;
        }
        .pic5 img{
            width: 192px;
            height: 192px;
            border-radius: 50%;
        }
        .img9,.img10,.img11,.img12{
            display: flex;
            flex-direction: column;
            align-items: center; 
            margin-bottom:100px;
        }
        .para3{
            width:100%;
            text-align: center; 
        }
        .para4{
           width: 100%;
            text-align: center;
        }
        .para5{
           width: 100%;
         
        }
        .para6{
            width:100%;
            text-align: center;
        }
        .para3{
          
            text-align: center;
        }
        .img10{
             transform: translateY(12%); 
           
           
        }
        .img11{
           
           
        }
        .img12{
            transform: translateY(12%); 
           
        }
        .img9{
           
           
        
        }
         /* .arrow{
            position: relative;
        }  */
        .arrow1 img,.arrow2 img,.arrow3 img{
           width: 160px;
           
        } 
        .arrow1{
            position: absolute;
            left:20%;
            top:-20px
        }
        .arrow2{
            position: absolute;
            right:15%;
            top:-20px
        }
        .arrow3{
            position:absolute;
            transform: translateY(10%);
            top:70%; 
            left:50%;
            /* margin-bottom: 150px; */
            
        }
        .text4{
            width:100%;
        }
        .p17{
          font-size: 20px;
          font-family:"mont";
          font-weight: 800;
          text-align: center;
        }
        .text5{
           width:100%;
           text-align: center;
        }
        .p19{
          font-size: 20px;
          font-family:"mont";
          font-weight: 800;
          
        }
        .para5{
            text-align: center;
        }
        /* phone part */
        .maindiv{
            background-color: #EBEAEA;
            padding-top: 60px;
           
        }
        
        .phone1 img{
            height: 380px;
            object-fit: contain;
            transform: translateX(-25%);
        }
        .phone2 img{
            height: 380px;
            object-fit: contain;
            position: absolute;
            top:0%;
            transform: translateX(15%);
        }
        .phone-photo{
            position: relative;
        }
        .shadow{
            margin-bottom:65px;
        }
        .shadow img{
           position: absolute;
           bottom:-2%;
        } 
        .flagimg img{
            width: 34px;
            height: 34px;
        }
        .heading4 .para7{
            font-size: 30px;
            font-family: "mont";
            text-transform: capitalize;
            font-weight: 700;
            margin-bottom: 30px;
            letter-spacing: 0px;
            
        }
        .auto{
            color: #BF2D0D;
        }
        .text-heading{
            display: flex;
            flex-direction: column;
           
           
        }
        .subheading4{
            width: 77%;
            margin-bottom: 30px;
        }
        .para8{
            font-size: 18px;
            font-family: "poppins";
            font-weight: 600;
        }
        .ser1{
            color: #BF2D0D;
        }
        .dimg{
            width: 200px;
            height: 68px;
        }
        .download-app{
            display: flex;
            justify-content: space-between;
            width:80%;
            margin-bottom: 30px;
        }
        .input-field5{
            position: relative;
        }
        .box1 input{
            width: 80%;
            height: 50px;
            text-indent: 80px;
        }
        .flagimg{
            position: absolute; 
            top:15%;
            transform: translateX(20%);
        }
        .box1 input::placeholder{
            position: relative;
        
        }
        .box1 input::placeholder::before{
            content: "";
            position: absolute;
            top:0;
            bottom: 0;
         background-color: #C5A481;
            width: 2px;
        }
        .applink{
            width: 110px;
            height: 36px;
            border: 2px solid #BF2D0D;
            position: absolute;
            left:59%;
            top:15%;
            color: #BF2D0D;
            padding:2px;
        }
        
        /* footer part */
        
        #em{
            width:200px;
            height: 45px;
            background-color: white;
            border: none;
            border-radius: 30px;
            text-indent:10px;
        }
        /* repair */
        
        .para25,.para26{
            font-size:12px;
            margin-bottom:5px;
        }
        /* / REVIEW PART / */
       
        .review-img img{
            width: 600px;
            height: 400px;
        } 

        .review-text{
            width: 450px; 
            height: 350px;
        }

        .review-text .p31{
            width: 400px;
            font-size: 16px;
        }
        
        
        
        
    
    


    
}
@media screen and (max-width:991px) {
   
    
    .active::after{
        content: '\2022'; 
        position: absolute;
        left:26px;
        bottom: -10px; 
        color: red;
        
        
        
    }
    .topbar{
        display: none;
    }
    .search-icon::after{
        content: "";
        position: absolute;
        width:1px;
        height: 100%;
        right:-60%;    
        top:0;
        background-color: #4f4f4f;
        display: none;
    }
   /* service part */
   .service-heading .p1 {
    font-size: 32px;
    font-family: "mont";
    color: white;
    text-transform: capitalize;
}
.detail{
    width:100%;
    color: white;
    font-family: "mont";
    text-align: center;
}
.text h4{
    color: white ;
    text-transform: capitalize;
    font-family: "mont";
    font-size: 20px;
}

.con1 .p1{
    font-size: 30px;
}
.con2 .p2{
    font-size: 30px;
}
.p3,.p5,.p4{
    font-size: 14px;
}
.con2{
    width:230px;
    height:54px ;
    background-color: #BF2D0D;
    text-align: center;
    padding-bottom:15px; 
    transform: skew(-16deg) ;
    transform-origin: bottom right; 
    
}
small{
    font-size: 16px;
    color: white;
    font-family: "mont";
}
.service1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    /* text-align: center; */
}
.service-heading{
    padding-top: 40px;
    margin-bottom: 30px;
}
/* about part */
.about-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-bottom:25px;
}
.squre-photo{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px;
}
.he {
    font-size: 18px;
    font-family: "mont";
    line-height: 20px;
    letter-spacing:1px;
    font-weight: 600;
    text-align: center;
}
#cimg{
    margin-bottom: 40px;
}
.p12{
    text-align: center;
}
.btn6 button {
    width: 172px;
    height: 52px;
    border: 1px solid #BF2D0D;
    color: #BF2D0D;
    background: transparent;
    margin-bottom:30px;
    text-align: center;

}
.p10 {
    color: #8A8A8A;
    font-weight: 400;
    font-size: 16px;
    font-family: "poppins";
    line-height:18px;
    margin-bottom: 30px;
     text-align: center; 
    width:98%;
    

}
.p11 {
    color: #8A8A8A;
    font-weight: 400;
    font-size: 16px;
    font-family: "poppins";
    line-height:18px;
    margin-bottom:30px;
    width: 94%;
    text-align: center;

}
.con4{
    width:200px;
    height:50px ;
    background-color: #BF2D0D;
    text-align: center;
    padding-bottom:15px; 
    color: white;
    transform: skew(-16deg) ;
    /* transform-origin: bottom right; 
 */
}
.p7,.p8, .p9{
    font-size: 30px;
    font-family: "mont";
}
/* banner part */
.banner-img img{
    height:410px;
}
.banner-text h1{
    font-size: 20px;
    font-family: "poppins";
    font-weight: 700;
    color: #FF5B37;
    text-transform:uppercase;
}
.subheading{
    width:40%;
}
.subheading h3{
    font-family: "mont";
    font-weight: 800;
    font-size: 25px;
    text-transform: capitalize;
    color: white;
}
.para{
   width:40%;
}
.para .p1{
    font-family: "poppins";
    font-size: 14px;
    font-weight: 700;
    color: white;

}
/* form part */
.registration{
    position: absolute;
    top:7%;
    right: 3%;;
    }
    .registration{
        width: 350px;
        height: 350px;
        background-color: whitesmoke;
        padding: 25px 30px;
        border-radius: 10px;
    }
    .heading3{
        text-align: center;
        position: relative;
      
    
    }
    .heading3 .p13{
        font-family: "mont";
        font-weight: 700;
        font-size:18px;
        letter-spacing:0px;
    }
    .subheding2{
        display: flex;
        justify-content: center;
        gap: 30px;
        position: relative;
    }
    .subheding2 .p14{
        font-family: "poppins";
        font-size: 16px;
        font-weight: 600;
        padding-top: 20px;
    }
    .heading3::after{
        content: "";
        position: absolute;
        bottom: -15px;
        left:35%;
        height: 3px;
        width: 100px;
        background-color: #BF2D0D;
    }
    .input-field1 input{
        width:300px;
        height: 30px;
        margin-bottom: 10px;
        background-color: #EBEAEA;
        border: none;
        text-indent:10px;
        border-radius: 5px;
    }
    input::placeholder{
        font-size: 14px;
        font-family: "poppins";
        text-transform: capitalize;
    }
    .input-field3{
        display: flex;
        gap:25px;
    }
    .input-field3 input{
        width:138px;
        height: 30px;
        margin-bottom:10px;
        border: none;
        background-color: #EBEAEA;
        text-indent:10px;
        border-radius: 5px;
       
    }
    .input-button #ser{
        width:300px;
        height:35px;
        /* margin-bottom: 20px; */
        background-color:#BF2D0D;
        border: none;
        text-indent:10px;
        text-transform: uppercase;
        color: white;
        border-radius: 5px;
    
    
    
    }
    .btn8 button{
        width: 150px;
        height: 42px;
        background: transparent;
        border: 2px solid #BF2D0D;
    
    }
    /* how we work */
    .work{
        background-color: #FDF7F6;
          /* position: relative;  
        height: 650px; */
    }
    
    .work-content{
        position: relative;
        display: flex; 
       
       
    }
    .work-content1{
        display: flex;
    
    }
    .content2{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        /* align-items: center; */
    }
    .con7{
        width:250px;
        height:66px ;
        background-color: #BF2D0D;
        text-align: center;
       
        transform: skew(-16deg) ;
         transform-origin: bottom right;  
        
    }
    .work-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .p16{
        transform: skew(15deg);
        color: white;
        text-align: center;
       
    }
    .p16,.p15{
        font-size: 42px;
        font-family: "mont";
    }
    small{
        color: #4f4f4f;
    }
    .pic5 img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
    .img9,.img10,.img11,.img12{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom:100px;
    }
    .para3{
        width:100%;
        text-align: center; 
    }
    .para4{
       width: 100%;
        text-align: center;
    }
    .para5{
       width: 100%;
     
    }
    .para6{
        width:100%;
        text-align: center;
    }
    .para3{
      
        text-align: center;
    }
    .img10{
         transform: translateY(12%); 
       
       
    }
    .img11{
       
       
    }
    .img12{
        transform: translateY(12%); 
       
    }
    .img9{
       
       
    
    }
     /* .arrow{
        position: relative;
    }  */
    .arrow1 img,.arrow2 img,.arrow3 img{
       width: 160px;
       
    } 
    .arrow1{
        position: absolute;
        left:20%;
        top:-20px
    }
    .arrow2{
        position: absolute;
        right:10%;
        top:-20px
    }
    .arrow3{
        position:absolute;
        transform: translateY(10%);
        top:74%; 
        left:40%;
        /* margin-bottom: 150px; */
        
    }
    .text4{
        width:100%;
    }
    .p17{
      font-size: 18px;
      font-family:"mont";
      font-weight: 600;
      text-align: center;
    }
    .text5{
       width:100%;
       text-align: center;
    }
    .p19{
      font-size:18px;
      font-family:"mont";
      font-weight: 600;
      
    }
    .para5{
        text-align: center;
    }
    /* phone part */
    .maindiv{
        background-color: #EBEAEA;
        padding-top:50px;
       
    }
    
    .phone1 img{
        height: 350px;
        object-fit: contain;
        transform: translateX(-25%);
    }
    .phone2 img{
        height: 350px;
        object-fit: contain;
        position: absolute;
        top:0%;
        transform: translateX(15%);
    }
    .phone-photo{
        position: relative;
    }
    .shadow{
        margin-bottom:50px;
    }
    .shadow img{
       position: absolute;
       bottom:-2%;
    } 
    .flagimg img{
        width: 34px;
        height: 34px;
    }
    .heading4 .para7{
        font-size:22px;
        font-family: "mont";
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom:20px;
        letter-spacing:0px;
        
    }
    .auto{
        color: #BF2D0D;
    }
    .text-heading{
        display: flex;
        flex-direction: column;
       
       
    }
    .subheading4{
        width: 100%;
        margin-bottom: 20px;
    }
    .para8{
        font-size: 14px;
        font-family: "poppins";
        font-weight: 600;
    }
    .ser1{
        color: #BF2D0D;
    }
    .dimg{
        width: 130px;
        height: 68px;
    }
    .download-app{
        display: flex;
        justify-content: space-between;
        width:80%;
        margin-bottom: 30px;
    }
    .input-field5{
        position: relative;
    }
    .box1 input{
        width:95%;
        height: 50px;
        text-indent:40px;
    }
     input::placeholder{
        font-size:13px;
    }
    .flagimg{
        position: absolute; 
        top:15%;
        transform: translateX(20%);
    }
    .box1 input::placeholder{
        position: relative;
    
    }
    .box1 input::placeholder::before{
        content: "";
        position: absolute;
        top:0;
        bottom: 0;
     background-color: #C5A481;
        width: 2px;
    }
    .applink{
        width: 90px;
        height: 30px;
        border: 2px solid #BF2D0D;
        position: absolute;
        left:65%;
        top:15%;
        color: #BF2D0D;
        padding:2px;
        font-size: 13px;
    }
    
    /* footer section */
    .subheading5{
        text-align: center;
        width: 100%;

       
    }
    .para14{
        font-size:25px;
        color: white;
        text-transform: capitalize;
        font-family: "mont";
        font-weight: 700;
        
       
    }
    .footer-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        margin-bottom: 50px;
    }
    .icon-text{
        margin-bottom: 20px;
    }
    .footer-detail{
        margin-bottom: 50px;
        align-items: center;
    }
    .footer-list{
       align-items: center;
    }
    .boxes{
        align-items: center;
    }
    /* repair */

    /* / SHOP PART / */

    .shop-part{
       padding-top: 20px;
       padding-bottom: 50px;
   }

   .shop-heading h3{
       font-size: 30px;
   }

   .s-div{ 
       width: 200px;
       height: 40px;
       transform: skew(-16deg); 
       margin-left: 10px;
       padding: 5px;
   }

   .shop-part .card-img img{
       width: 180px;
       height: 120px;
   }

   .lower-right .add img{
       width: 70px;
       height: 30px;
   }

   .shop-part h5{
       font-size: 13px;
       margin-bottom: 10px;
   }

   .shop-part .p22,.p23{
       font-size: 12px;
       margin-bottom: 10px;
   }
   
   .shop-part .p24{
       font-family: "poppins",sans-serif;
       font-size: 11px;
       color: #8A8A8A;
       margin-bottom: 5px;
   }

   .shop-btn button{
       width: 150px;
       height: 40px;
   }
   
   .shop-btn button a{
       font-size: 18px; 
   }

   /* / PACKAGE PART / */

   .package-heading h3{
       font-size: 30px;
   }

   .package-part .p-card1{
       margin-bottom: 20px;
   }

   .package-part .p-card1 .p26{
       font-size: 18px;
   
   }
   
   .package-part .p-card1 .p27{
       font-weight: 900;
       font-size: 20px;
   }
   
   .package-part .p-card1 .month{
       font-weight: 0;
       font-size: 15px;
   }
   
   .package-part .p-card1 .hourdiv .p28{
   font-family: "poppins",sans-serif;
   font-size: 16px;
   }

   .hourdiv{
       height: 40px;
       margin-bottom: 15px;
   }
   
   .package-part .p-card1 .p29{
       font-family: "poppins",sans-serif;
   font-size: 12px;
   }

   .p-btn button{
       width: 100px;
       height: 40px;
   }
   
   .p-btn button a{
       font-size: 15px;
   }

 

   /* / REVIEW PART / */
      
   .review-img img{
       width: 500px;
       height: 300px;
   } 

   .review-text{
       width: 450px; 
       height: 300px;
       transform: translateY(0%);
       transform: translateX(0%);
   }

   .review-text .p31{
       width: 350px;
       font-size: 12px;
   }

   .review-text h3{
       font-size: 30px;
   }

   .f-icon{
       font-size: 30px;
   }

   .f-name .p32,.p33{
       margin-bottom: 2px;
       font-size: 12px;
   }
    
    
    

    
}
@media screen  and (max-width:767px){
   
    .topbar{
        display: none;
    }
    .service-heading .p1 {
        font-size: 20px;
        font-family: "mont";
        color: white;
        text-transform: capitalize;
    }

    .service-heading small{
        font-size:12px;
        text-align: center;
    }
    .detail{
        font-size: 16px;
    }
    .navbar-brand img{
        width:80px;
    }
    /* service part */
    .text h4{
        color: white ;
        text-transform: capitalize;
        font-family: "mont";
        font-size: 20px;
    }
    
    .con1 .p1{
        font-size:25px;
    }
    .con2 .p2{
        font-size: 25px;
    }
    .p3,.p5,.p4{
        font-size: 14px;
    }
    .con2{
        width:210px;
        height:44px ;
        background-color: #BF2D0D;
        text-align: center;
        padding-bottom:15px; 
        transform: skew(-16deg) ;
        transform-origin: bottom right; 
        
    }
    .para10{
        font-size: 14px;
        color: white;
        font-family: "mont";
    
    }
    .service1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        /* text-align: center; */
    }
    .service-heading{
        padding-top: 30px;
        margin-bottom: 20px;
    }
    /* about part */
    .about-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        margin-bottom:19px;
    }
    .squre-photo{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom:30px;
    }
    .he {
        font-size: 16px;
        font-family: "mont";
        line-height: 15px;
        letter-spacing:1px;
        font-weight: 600;
        text-align: center;
    }
    #cimg{
        margin-bottom: 30px;
    }
    .p12{
        text-align: center;
    }
    .btn6 button {
        width: 172px;
        height: 52px;
        border: 1px solid #BF2D0D;
        color: #BF2D0D;
        background: transparent;
        margin-bottom:25px;
        text-align: center;
    
    }
    .p10 {
        color: #8A8A8A;
        font-weight: 400;
        font-size: 16px;
        font-family: "poppins";
        line-height:18px;
        margin-bottom: 20px;
         text-align: center; 
        width:98%;
        
    
    }
    .p11 {
        color: #8A8A8A;
        font-weight: 400;
        font-size: 16px;
        font-family: "poppins";
        line-height:18px;
        margin-bottom:20px;
        width: 94%;
        text-align: center;
    
    }
    .con4{
        width:180px;
        height:42px ;
        background-color: #BF2D0D;
        text-align: center;
        padding-bottom:15px; 
        color: white;
        transform: skew(-16deg) ;
        /* transform-origin: bottom right; 
     */
    }
    .p7,.p8, .p9{
        font-size:25px;
        font-family: "mont";
    }
    .squre{
        width: 150px;
    }
    .pic{
        position: absolute;
        top:28%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .squre-photo{
        margin-bottom: 20px;
    }
    .content1{
       justify-content: center;
    }
    /* banner part */
    /* .main{
        bottom:30px;
    } */
    .banner-img img{
        height:310px;
    }
    .banner-text h1{
        font-size: 22px;
        font-family: "poppins";
        font-weight: 700;
        color: #FF5B37;
        text-transform:uppercase;
      
    }
    .banner-text{
        position: absolute;
        top:7%;
        left:0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .subheading{
        width:60%;
        text-align: center;
    }
    .subheading h3{
        font-family: "mont";
        font-weight: 800;
        font-size: 25px;
        text-transform: capitalize;
        color: white;
        margin-bottom:10px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width:2px;
    }
    .para{
       width:88%;
       text-align: center;
       margin-bottom:10px;
    }
    .banner{
        margin-bottom: 30px;
    }
    .para .p1{
        font-family: "poppins";
        font-size: 14px;
        font-weight: 700;
        color: white;
    
    }
    .bluer{
        filter: blur(2px);
    }
    /* form part */
    .registration{
        position: relative;
        
        bottom:-155px;
        /* top:20px; */
         /* transform: translateY(100%); */
         transform: translate(-50%,-50%);
        left:50%;
        right:0%;
        }
        .registration{
            width: 350px;
            height: 350px;
            background-color: whitesmoke;
            padding: 25px 30px;
            border-radius: 10px;
            /* margin-bottom: 30px; */
        }
        .heading3{
            text-align: center;
            position: relative;
          
        
        }
        .heading3 .p13{
            font-family: "mont";
            font-weight: 700;
            font-size:18px;
            letter-spacing:0px;
        }
        .subheding2{
            display: flex;
            justify-content: center;
            gap: 30px;
            position: relative;
        }
        .subheding2 .p14{
            font-family: "poppins";
            font-size: 16px;
            font-weight: 600;
            padding-top: 20px;
        }
        .heading3::after{
            content: "";
            position: absolute;
            bottom: -15px;
            left:35%;
            height: 3px;
            width: 100px;
            background-color: #BF2D0D;
        }
        .input-field1 input{
            width:300px;
            height: 30px;
            margin-bottom: 10px;
            background-color: #EBEAEA;
            border: none;
            text-indent:10px;
            border-radius: 5px;
        }
        input::placeholder{
            font-size: 14px;
            font-family: "poppins";
            text-transform: capitalize;
        }
        .input-field3{
            display: flex;
            gap:25px;
        }
        .input-field3 input{
            width:138px;
            height: 30px;
            margin-bottom:10px;
            border: none;
            background-color: #EBEAEA;
            text-indent:10px;
            border-radius: 5px;
           
        }
        .input-button #ser{
            width:300px;
            height:35px;
            /* margin-bottom: 20px; */
            background-color:#BF2D0D;
            border: none;
            text-indent:10px;
            text-transform: uppercase;
            color: white;
            border-radius: 5px;
        
        
        
        }
        .btn8 button{
            width: 120px;
            height: 32px;
            background: transparent;
            border: 2px solid #BF2D0D;
        
        }
    /* how we work */
    .work-content{
        flex-direction: column;
    }
    .img12{
        transform:translate(0);
       
    }
    .img10{
        transform:translate(0);
    }
    .work-content1{
        display: flex;
        margin-bottom: 10px;
    }
    .work-content2{
        display: flex;
        margin-bottom:0px;
    
    }
    .arrow1,.arrow2,.arrow3{
        display: none;
    }
    .img9,.img10,.img11,.img12{
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom:30px;
    }
    .text4{
        width: 100%;
       }
    .p17{
        
        font-size: 15px;
    }
    .p19{
        font-size: 15px;
    }
    /* phone part */
    .phone1 img{
        height: 300px;
        object-fit: contain;
        transform: translateX(-16%);
       
    }
    .phone2 img{
        height: 300px;
        object-fit: contain;
        position: absolute;
        top:0%;
        transform: translateX(31px);
       
    }
    .input-field5{
        margin-bottom: 50px;
    }
    .dimg{
        width: 130px;
        height: 68px;
    }
    .download-app{
        display: flex;
        justify-content: space-between;
        width:55%;
        margin-bottom: 30px;
    }
    .input-field5{
        position: relative;
    }
    .box1 input{
        width:70%;
        height: 50px;
        text-indent:40px;
    }
     input::placeholder{
        font-size:13px;
    }
    .flagimg{
        position: absolute; 
        top:15%;
        transform: translateX(20%);
    }
    
    .box1 input::placeholder{
        position: relative;
    
    }
    .box1 input::placeholder::before{
        content: "";
        position: absolute;
        top:0;
        bottom: 0;
     background-color: #C5A481;
        width: 2px;
    }
    .applink{
        width: 90px;
        height: 30px;
        border: 2px solid #BF2D0D;
        position: absolute;
        left:50%;
        top:15%;
        color: #BF2D0D;
        padding:2px;
        font-size: 13px;
    }
    .shadow img{
        position: absolute;
        bottom:-4%;
     } 
     /* testi */
     .content3{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        /* align-items: center; */
    }
    .con9{
        width:200px;
        height:50px ;
        background-color: #BF2D0D;
        text-align: center;
       
        transform: skew(-16deg) ;
         transform-origin: bottom right;  
        
    }
    .testi-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        margin-bottom:50px;
    }
    .para12{
        transform: skew(15deg);
        color: white;
        text-align: center;
       
    }
    .para11,.para12{
        font-size:25px;
        font-family: "mont";
    }
    small{
        color: #4f4f4f;
        margin-bottom: 50px;
    }
    .testi-img{
       margin-bottom: 30px;
        border: 1px solid #8A8A8A;
        /* object-fit: contain; */
        /* width: 170px; */
         
        /* text-align: center; */
      
    }
    /* .row{
        justify-content: center;
        align-items: center;
    } */
    /* footer part */
    .subheading5{
        text-align: center;
        width:50%;
    }
    .para14{
        font-size:20px;
        color: white;
        text-transform: capitalize;
        font-family: "mont";
        font-weight: 700;
        
       
    }
    .footer-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        margin-bottom:25px;
    }
    .icon-text{
        margin-bottom: 20px;
    }
    .footer-detail{
        margin-bottom: 25px;
        align-items: center;
    }
    .footer-list{
       align-items: center;
    }
    .para17{
        font-size: 18px;
    }
    .para18{
        font-size: 12px;
        margin-bottom:5px;
    }
    .para19{
        font-size: 12px;
    }
    .icon-text{
        gap: 0px;
        width: 150px;
        height: 120px;
        margin-bottom:3px;
    }
    /* repair */
    .para25,.para26{
        font-size:10px;
        margin-bottom:4px;
    }
 .rimg img{
        height:350px;
    }
    /* .para15{
        padding: 8px 0px;
    }
    .para15{
        margin-bottom: 10px;
    } */
    /* / SHOP PART / */
    .shop-part{
        padding-bottom: 10px;
    }



    / PACKAGE PART /

    .package-heading{
        margin-bottom: 20px;
    }

    .package-heading h3{
        font-family: "mont",sans-serif;
        font-size: 20px;
    }

    .package-text{
        width: 200px;
        height: 40px;
    }

    /* / REVIEW PART / */

    .review-part{
        padding-bottom: 30px;
        padding-top: 30px;  
    }

    .review-detail{
   
       flex-direction: column;
        /* / align-items: center; / */
        align-items: center;

    }

    .review-img img{
        width: 300px;
        height: 200px;
    } 

    .review-text{
        padding: 20px 20px;
        width: 430px; 
        height: 270px;
        transform: translateY(0%);
        transform: translateX(0%);
        text-align: start;
        box-shadow: 0px 0px 30px whitesmoke;
        margin-top: 30px;
    }

    .review-text .p31{
        width: 390px;
        font-size: 12px;
    }

    .review-text h3{
        font-size: 30px;
    }

    .facebook{
        / width: 100%; /
       justify-content: center !important;
       align-items: center;

    }

    .f-icon{
        font-size: 30px;
    }

    .f-name .p32,.p33{
        margin-bottom: 2px;
        font-size: 12px;
    }


    
    
}
@media screen  and (max-width:575px){
    .con2{
        width:150px;
        height:35px ;
        background-color: #BF2D0D;
        text-align: center;
        padding-bottom:15px; 
        transform: skew(-16deg) ;
        transform-origin: bottom right; 
        
    }
    .con1 .p1{
        font-size:20px;
    }
    .con2 .p2{
        font-size: 20px;
    }
    small{
        font-size: 14px;
        color: white;
        font-family: "mont";
        text-align: center;
    }
    /* about part */
    .p10 {
        color: #8A8A8A;
        font-weight: 400;
        font-size: 14px;
        font-family: "poppins";
        line-height:18px;
        margin-bottom: 20px;
         text-align: center; 
        width:98%;
        
    
    }
    .p11 {
        color: #8A8A8A;
        font-weight: 400;
        font-size: 14px;
        font-family: "poppins";
        line-height:18px;
        margin-bottom:20px;
        width: 94%;
        text-align: center;
        display: none;
    
    }
    /* banner part */
    .banner-img img{
        height:310px;
    }
    .banner-text h1{
        font-size: 18px;
        font-family: "poppins";
        font-weight: 700;
        color: #FF5B37;
        text-transform:uppercase;
      
    }
    .banner-text{
        position: absolute;
        bottom:0;
        left:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
    }
    .subheading{
        width:80%;
        text-align: center;
    }
    .subheading h3{
        font-family: "mont";
        font-weight: 800;
        font-size: 20px;
        text-transform: capitalize;
        color: white;
        margin-bottom: 20px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width:2px;
    }
    .para{
       width:88%;
       text-align: center;
       margin-bottom: 20px;
    }
    .banner{
        margin-bottom: 30px;
    }
    .para .p1{
        font-family: "poppins";
        font-size: 14px;
        font-weight: 700;
        color: white;
    
    }
    .bluer{
        filter: blur(2px);
    }
    .main{
        padding:0px 0px 0px 0px !important;
    }
    /* form part */
    /* .registration{
        position: absolute;
        top:0;
         transform: translateY(100%);
        left:7%;
        right:3%;
        } */
        .registration{
            position: relative;
            
            bottom:-190px;
             /* transform: translateY(100%); */
             transform: translate(-50%,-50%);
            left:50%;
            right:0%;
            }
        .registration{
            width: 280px;
            height: 350px;
            background-color: whitesmoke;
            padding: 25px 30px;
            border-radius: 10px;
            /* margin-bottom: 30px; */
        }
        .heading3{
            text-align: center;
            position: relative;
          
        
        }
        .heading3 .p13{
            font-family: "mont";
            font-weight: 700;
            font-size:14px;
            letter-spacing:0px;
        }
        .subheding2{
            display: flex;
            justify-content: center;
            gap: 30px;
            position: relative;
        }
        .subheding2 .p14{
            font-family: "poppins";
            font-size: 16px;
            font-weight: 600;
            padding-top: 10px;
        }
        .heading3::after{
            content: "";
            position: absolute;
            bottom: -15px;
            left:30%;
            height: 3px;
            width: 100px;
            background-color: #BF2D0D;
        }
        .input-field1 input{
            width:225px;
            height: 30px;
            margin-bottom: 10px;
            background-color: #EBEAEA;
            border: none;
            text-indent:10px;
            border-radius: 5px;
        }
        input::placeholder{
            font-size: 14px;
            font-family: "poppins";
            text-transform: capitalize;
        }
        .input-field3{
            display: flex;
            gap:25px;
        }
        .input-field3 input{
            width:100px;
            height: 30px;
            margin-bottom:10px;
            border: none;
            background-color: #EBEAEA;
            text-indent:10px;
            border-radius: 5px;
           
        }
        .input-button #ser{
            width:225px;
            height:30px;
            /* margin-bottom: 20px; */
            background-color:#BF2D0D;
            border: none;
            text-indent:10px;
            text-transform: uppercase;
            color: white;
            border-radius: 5px;
        
        
        
        }
        .btn8 button{
            width: 130px;
            height: 38px;
            background: transparent;
            border: 2px solid #BF2D0D;
        
        }
        /* work */
        .work-content1{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }
        .work-content2{
            display: flex;
            flex-direction: column;
            margin-bottom:0px;
        
        }
        .con7{
            width:180px;
            height:50px ;
            background-color: #BF2D0D;
            text-align: center;
           
            transform: skew(-16deg) ;
             transform-origin: bottom right;  
            
        }
        .p15,.p16{
            font-size: 30px;
        }
        .work-heading{
            margin-bottom:0px;
        }
        /* phone part */
        .main{
            padding-top: 40px;
        }
        .phone1 img{
            height: 250px;
            object-fit: contain;
            transform: translateX(-15%);
        }
        .phone2 img{
            height: 250px;
            object-fit: contain;
            position: absolute;
            top:0%;
            transform: translateX(3%);
        }
        .input-field5{
            margin-bottom: 40px;
        }
        .dimg{
            width: 80px;
            height: 68px;
            margin-bottom: 10px;
        }
        .download-app{
            display: flex;
            flex-direction: column;
            align-items: center;
            /* justify-content: space-between; */
            /* width:55%; */
            margin-bottom: 30px;
        }
        .input-field5{
            position: relative;
        }
        .box1 input{
            width:100%;
            height: 50px;
            text-indent:40px;
        }
         input::placeholder{
            font-size:13px;
        }
        .flagimg{
            position: absolute; 
            top:15%;
            transform: translateX(20%);
        }
        
        .box1 input::placeholder{
            position: relative;
            font-size: 10px;
        
        }
        .box1 input::placeholder::before{
            content: "";
            position: absolute;
            top:0;
            bottom: 0;
         background-color: #C5A481;
            width: 2px;
        }
        .applink{
            width: 90px;
            height: 30px;
            border: 2px solid #BF2D0D;
            position: absolute;
            left:50%;
            top:15%;
            color: #BF2D0D;
            padding:2px;
            font-size: 13px;
            display: none;
        }
        .shadow img{
            position: absolute;
            bottom:-4%;
            width: 200px;
            left:10%;
            display: none;
         } 
         .heading4 .para7{
            font-size: 18px ;
            text-align: center;
         }
         .subheading4 .para8{
            font-size:8px;
            text-align: center;

         }
        .text-heading{
            align-items: center;
        }
        /* testi */
        .content3{
            display: flex;
            flex-direction: column;
           align-items: center;  
        }
        .con9{
            width:100px;
            height:30px ;
            background-color: #BF2D0D;
            text-align: center;
           
            transform: skew(-16deg) ;
             transform-origin: bottom right;  
            
        }
        .testi-heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 30px;
            margin-bottom:30px;
        }
        .para12{
            transform: skew(15deg);
            color: white;
            text-align: center;
           
        }
        .para11,.para12{
            font-size:14px;
            font-family: "mont";
            text-align: center;
        }
        small{
            color: #4f4f4f;
            margin-bottom: 30px;
        }
        .testi-img{
           margin-bottom: 30px;
            border: 1px solid #8A8A8A;
          
          
        }
        .para10{
            font-size: 12px;
            color: white;
            font-family: "mont";
            text-align: center;
        
        }
        /* footer part */
        .subheading5{
            text-align: center;
            width:70%;
        }
        .para14{
            font-size:16px;
            color: white;
            text-transform: capitalize;
            font-family: "mont";
            font-weight: 700;
            
           
        }
        .footer-heading{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            margin-bottom:20px;
        }
        .icon-text{
            margin-bottom: 15px;
        }
        .footer-detail{
            margin-bottom: 20px;
            align-items: center;
        }
        .footer-list{
           align-items: center;
        }
        .para17{
            font-size: 16px;
        }
        .para18{
            font-size: 10px;
            margin-bottom: 0px;
        }
        .para19{
            font-size: 10px;
            width: 50%;
        }
        .icon-text{
            gap: 0px;
            width: 150px;
            height: 100px;
            margin-bottom: 10px;
        }
        /* repair */
        .para25,.para26{
            font-size:10px;
            margin-bottom:4px;
        }
     .rimg img{
            height:250px;
        }
       
        .para32{
            font-size: 12px;
            padding-top: 4px;
        }
        /* / REVIEW PART / */

        .review-text h3{
            font-size: 18px;
        }

        .review-text{
            width: 300px;
            height: 300px;
        }

        .review-text .p31{
            width: 250px;
        }
}